body {
    min-width: 400px;
    min-height: 600px;
    background-image: url("../img/wg_3.gif");
    background-size: cover;
}

#word-list{
    color: white; 
}


.pulse {
  animation: animate 3s ease-out infinite;
}

@keyframes animate {
  0% {
      box-shadow: 0 0 0 0 rgba(74, 146, 255, 0.7), 0 0 0 0 rgba(74, 167, 255, 0.7)
  }

  40% {
      box-shadow: 0 0 0 15px rgba(74, 183, 255, 0), 0 0 0 0 rgba(74, 183, 255, 0.7)
  }

  80% {
      box-shadow: 0 0 0 30px rgba(74, 174, 255, 0), 0 0 0 15px rgba(74, 183, 255, 0)
  }

  100% {
      box-shadow: 0 0 0 0 rgba(74, 137, 255, 0), 0 0 0 15px rgba(74, 174, 255, 0)
  }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(73, 27, 27, 0.384); 
  border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}

/* alerts */

.alert{
  z-index: 30;
  position: absolute !important;
  max-width:  400px;
  
  top: 40px;
  animation: notification 1.5s ease-out;
}

@keyframes notification {
  0% {
      top: -100px;
  }
  100% {
      top: 40px;
  }
}

/*options*/
.gear {
  z-index: 5;
  position: absolute;
  top: 100px;
  left: 45px;

  cursor: pointer;
}


/*check mark*/
.wrapper {
  z-index: 10;

  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  vertical-align: center;
  background-color: rgba(0, 0, 0, 0.267);
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  margin-top : 200px !important;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  stroke-width: 8;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
      transform: none
  }

  50% {
      transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 80px #7ac142
  }
}